<div >
    <button routerLink="/create" mat-raised-button >Добавить</button>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
          <mat-cell *matCellDef="let check"> {{check.name}} </mat-cell>
        </ng-container>
      
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Дата </mat-header-cell>
          <mat-cell *matCellDef="let check"> {{check.date | date:'yyyy.MM.dd'}} </mat-cell>
        </ng-container>
      
        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <mat-header-cell *matHeaderCellDef> Время </mat-header-cell>
          <mat-cell *matCellDef="let check"> {{check.date | date:'HH:MM:ss'}} </mat-cell>
        </ng-container>
      
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Цена </mat-header-cell>
          <mat-cell *matCellDef="let check"> {{check.price}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="button">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let check">                        
                        <button [routerLink]="['edit', check.id]" mat-raised-button color="accent">Изменить</button>
                        <button (click)="delete(check.id)" mat-raised-button color="warn">Удалить</button>
                </mat-cell>
        </ng-container>            


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
