
<button routerLink="/create" mat-raised-button >Добавить</button>

<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Input info to search">
</mat-form-field>

<div class="mat-elevation-z8">
<mat-table [dataSource]="dataSource" matSort >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Название </mat-header-cell>
          <mat-cell *matCellDef="let check"> {{check.name}} </mat-cell>
        </ng-container>
      
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
          <mat-cell *matCellDef="let check"> {{check.date | date:'yyyy.MM.dd'}} </mat-cell>
        </ng-container>
      
        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Время </mat-header-cell>
          <mat-cell *matCellDef="let check"> {{check.date | date:'HH:MM:ss'}} </mat-cell>
        </ng-container>
      
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Цена </mat-header-cell>
          <mat-cell *matCellDef="let check"> {{ check.price | currency:'RUB':'symbol-narrow':'0.2-2' }}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="button">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let check">                        
                        <button [routerLink]="['edit', check.id]" mat-raised-button color="accent">Изменить</button>
                        <button (click)="delete(check.id)" mat-raised-button color="warn">Удалить</button>
                </mat-cell>
        </ng-container>            


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>