
<button routerLink="/create" mat-raised-button >Добавить</button>

<mat-form-field>
    <mat-label>Фильтер</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Input info to search">
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort >
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Название </th>
          <td mat-cell *matCellDef="let check"> {{check.name}} </td>
        </ng-container>
      
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата </th>
          <td mat-cell *matCellDef="let check"> {{check.date | date:'yyyy.MM.dd'}}</td>
        </ng-container>
      
        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Время </th>
          <td mat-cell *matCellDef="let check"> {{check.date | date:'HH:MM:ss'}} </td>
        </ng-container>
      
        <!-- Price Column -->
        <ng-container matColumnDef="price" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Цена </th>
          <td mat-cell *matCellDef="let check"> {{ check.price | currency:'RUB':'symbol-narrow':'0.2-2' }}</td>
        </ng-container>


        <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let check">                        
                        <button [routerLink]="['edit', check.id]" mat-raised-button color="accent">Изменить</button>
                        <button (click)="delete(check.id)" mat-raised-button color="warn">Удалить</button>
                </td>
        </ng-container>            


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="itemsPerPage" showFirstLastButtons></mat-paginator>
</div>