<div class="check-form">
    <mat-form-field class="check-full-width">
      <mat-label>Название</mat-label>
      <input matInput placeholder="Check-№" type="text" [(ngModel)]="check.name" />
    </mat-form-field>
  
    <mat-form-field class="check-full-width">
      <mat-label>Дата и время</mat-label>
      <input matInput placeholder="2020-01-01 09-00" type="datetime-local" [(ngModel)]="check.date" />
    </mat-form-field>

    <mat-form-field class="check-full-width">
        <mat-label>Цена</mat-label>
        <input matInput placeholder="5$" type="number" [(ngModel)]="check.price" />
      </mat-form-field>
</div>
  